<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>게시글 상세</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="post-detail-container container-box">
  <div class="post-title" th:text="${post.title}">제목</div>
  <div class="post-meta">
    작성자: <span th:text="${post.writer}">홍길동</span> /
    작성일: <span th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}">날짜</span>
  </div>
  <div class="post-content" th:text="${post.content}">내용</div>

  <div class="button-group btn-group">
    <a th:href="@{'/post/reserve/' + ${post.id}}" class="primary-btn">예매하기</a>
    <a href="/posts" class="primary-btn">목록으로</a>
    <form th:action="@{'/post/delete/' + ${post.id}}" method="post">
      <button type="submit" class="primary-btn gray-btn">삭제</button>
    </form>
  </div>
</div>
</body>
</html>