<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>예매 페이지</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
  <div class="post-detail-container container-box">
    <div class="post-title" >예매하기</div>

    <div class="button-group btn-group">
      <a th:href="@{'/post/reserve/' + ${post.id}}" class="primary-btn">예매하기</a>
      <a href="/post" class="primary-btn">목록으로</a>
      <form th:action="@{'/post/delete/' + ${post.id}}" method="post">
        <button type="submit" class="primary-btn gray-btn">삭제</button>
      </form>
    </div>
  </div>
</body>

<script th:inline="javascript">
  window.addEventListener("beforeunload", function () {
    const url = '/post/reserve/unlock/' + [[${post.id}]];
    navigator.sendBeacon(url);
  });
</script>

</html>